/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

a {
  color: rgb(0,159,219);
}

h1 > small {
  color: rgb(0,159,219);
}

.btn-primary {
  background-color: rgb(0,159,219);
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: rgb(113,197,232);
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  color: #fff;
  background-color: rgb(113,197,232);
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.modal-header {
  background-color: rgb(0,159,219);
}

.modal-header h4 {
  color: #fff;
}


/** ATT Colors **

** Signature **
ATT Blue = rgb(0,159,219)

** Secondary **
ATT Black = rgb(0,0,0)
ATT White = rgb(255,255,255)
ATT Orange = rgb(234,116,0)

** Accent **
ATT Light Blue = rgb(113,197,232)
ATT Dark Blue = rgb(5,104,174)
ATT Light Gray = rgb(210,210,210)
ATT Gray = rgb(149,149,149)
ATT Dark Gray = (90,90,90)
ATT Yellow = rbg(255,184,28)
ATT Light Green = rgb(181,189,0)
ATT Green = rgb(0,122,62)
ATT Light Purple = rgb(202,162,221)
ATT Purple = rgb(144,99,205)
ATT Dark Purple = rgb(112,47/138)

**/